{% extends 'base.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock %}

{% block styles %}
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;
        overflow: hidden;
    }

    .callbreakHome {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 70px 70px;
    }

    .gameCard {
        padding: 10px;
        width: 350px;
        height: 400px;
        margin: 0px 20px;
        /* box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2); */
        transition: 0.3s;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        padding-bottom: 20px;

        background-color: #f5f5f5;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .gameCard:hover {
        box-shadow: 0 0px 16px 0px rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }

    .gameCard_imageOverlay {
        width: 200px;
        height: 50%;
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
    }

    .gameCard-content {
        margin-top: 15px;
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .gameName {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .gameDescription {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .gameCard_play-btn {
        transition: all 0.2s;
        cursor: pointer;
    }

    .gameCard_play-btn>div {
        color: white;
        font-weight: bold;
        font-size: 20px;
        text-decoration: none;
        background-color: rgb(36, 36, 36);
        padding: 15px 20px;
        border-radius: 5px 5px;
    }

    .gameCard_play-btn:hover>div {
        background-color: rgb(65, 65, 65);
    }

    .gameCard_play-btn:active {
        transform: translateY(2px);
    }








    .playerSection {
        display: flex;
        flex-direction: column;
        background-color: #f5f5f5;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 20px 20px;
        margin: 20px 40px;
        width: 400px;
        /* Adjust width as needed */
        transition: all .3s;
    }

    .playerSection:hover {
        box-shadow: 0 0px 16px 0px rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }

    .playerSection h2 {
        margin-bottom: 10px;
        color: #333;
        font-weight: bold;
    }

    .section {
        margin-bottom: 15px;
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
        /* Add some padding for separation */
    }

    .search,
    .create-link,
    .joined-players {
        display: flex;
        /* Style headings and content together */
        justify-content: space-between;
        /* Align content horizontally */
        align-items: center;
        /* Align content vertically */
    }

    .input-group,
    .invitation-link {
        display: flex;
        align-items: center;
    }

    #searchInput {
        padding: 8px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-right: 5px;
        flex-grow: 1;
    }


    .invitation-link input[type="text"] {
        flex: 1;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        background-color: #eee;
    }

    .invitation-link button {
        padding: 10px 20px;
        background-color: #3498db;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.2s ease;
        /* Add hover effect */
    }

    .invitation-link button:hover {
        background-color: #2980b9;
        /* Change background color on hover */
    }

    .joined-players>ul {
        list-style: none;
        padding: 0;
    }

    .joined-players>li {
        margin-bottom: 5px;
        font-size: 16px;
        /* Increase font size for players list */
    }





    #searchResults {
        margin-top: 10px;
        position: relative;
    }

    #searchResults>ul {
        background-color: rgb(200, 200, 185);
        position: absolute;
        list-style-type: none;
        width: 100%;
        padding: 5px;

        height: 200px;
        overflow-y: auto;
    }

    #searchResults>ul>li {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        width: 100%;
        border-bottom: 1.5px solid #ddd;
        background-color: #eaeaea;
        padding: 5px;
        border-radius: 5px 5px;
    }

    .player {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .player img {
        width: 50px;
        height: 50px;
        border-radius: 50% 50%;
        margin-right: 10px;
    }

    .player-info {
        display: flex;
        align-items: center;
        font-weight: bold !important;
    }

    .status-ribbon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        margin: 0px 20px;

    }

    .status-ribbon .offline {
        width: 10px;
        height: 10px;
        background-color: red;
        border-radius: 50% 50%;
        /* Color for online status */
    }

    .status-ribbon .online {
        width: 10px;
        height: 10px;
        background-color: #0f0;
        border-radius: 50% 50%;
        /* Color for online status */
    }


    .notFound {
        width: 100%;
        text-align: center;
        text-transform: capitalize;
        font-weight: bold;
        color: red;
    }


    .invitationButton {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: white;
        background-color: black;
        padding: 10px 14px;
        border-radius: 7px 7px;
        transition: all .3s;

        display: flex;
    }

    .invitationButton:active {
        transform: translateY(2px);
    }

    .invitationButton:hover {
        background-color: #333;
    }

    .fa-user-plus {
        margin-right: 10px;
    }

    .copy-room-btn {
        margin-left: 5px;
        text-decoration: none;
        font-weight: bold;
        padding: 10px 10px;
        background-color: #2580bc;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.2s ease;
    }

    .copy-room-btn:hover {
        background-color: #3498db;
    }

    .copy-room-btn:active {
        transform: translateY(2px);
    }









    .join-room-form {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .room_number-input {
        flex: 1;
        padding: 10px;
        margin-right: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .join-room-tglbtn {
        background-color: #e16262;
        color: #fff;
    }

    .join-room-tglbtn:hover {
        background-color: #e09191;
    }

    .button-holder {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
    }

    #joined-players ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #joined-players>ul>li {
        border-bottom: 2px solid gainsboro;
        padding: 5px;
    }

    #playing_cards-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: 98vh;
        overflow: hidden;
        position: relative;

    }

    #playing_cards-container_wrapper {

        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        position: relative;
    }

    .card {
        width: 150px;
        transition: transform 0.3s ease-in-out;
        height: auto;
        /* margin-left: -60px; */
    }

    .card:not(:first-child) {
        margin-left: -100px;
    }

    .card:hover {
        transform: translateY(-8px);
        z-index: 2;
        cursor: pointer;
    }


    #customAlert {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #custom-alert-content {
        width: 400px;
        height: 250px;
        background-color: white;
        border-radius: 10px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #custom-alert-content h2 {
        margin-bottom: 20px;
        font-family: sans-serif;
        font-weight: bold;
    }

    #numberInput {
        margin: 10px 10px;
        padding: 10px;
    }

    #bid_submit_btn {
        padding: 10px;
    }

    #player1 {
        transform: rotateZ(270deg);
        width: 250px;
        position: absolute;
        right: 0;
        top: 50%
    }

    #player2 {
        width: 250px;
        position: absolute;
        top: 100px;
        left: 50%;
    }

    #player3 {
        transform: rotateZ(270deg);
        position: absolute;
        width: 250px;
        top: 50%;
        left: 0;
    }

    #playersContainer_gamePlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    @keyframes selfThrow {
        0% {
            bottom: -20%;
            left: 50%;
        }

        100% {
            bottom: 27%;
            left: 50%;
        }
    }



    @keyframes player2_throw {
        0% {
            top: -20%;
            left: 50%;
        }

        100% {
            top: 27%;
            left: 50%;
        }
    }

    @keyframes player1_throw {
        0% {
            right: -20%;
            top: 50%;
        }

        100% {
            right: 27%;
            top: 40%;
        }
    }

    @keyframes player3_throw {
        0% {
            left: -20%;
            top: 50%;
        }

        100% {
            left: 35%;
            top: 40%;
        }
    }


    .thrownCard_player4 {
        width: 100px;
        position: absolute;
        transition: all .3s;
        animation-name: selfThrow;
        animation-duration: .3s;
        animation-fill-mode: forwards;
    }

    .thrownCard_player1 {
        width: 100px;
        position: absolute;
        transition: all .3s;
        animation-name: player1_throw;
        animation-duration: .3s;
        animation-fill-mode: forwards;
        transform: rotateZ(90deg);
    }

    .thrownCard_player2 {
        width: 100px;
        position: absolute;
        transition: all .3s;
        animation-name: player2_throw;
        animation-duration: .3s;
        animation-fill-mode: forwards;
    }

    .thrownCard_player3 {
        width: 100px;
        position: absolute;
        transition: all .3s;
        animation-name: player3_throw;
        animation-duration: .3s;
        animation-fill-mode: forwards;
        transform: rotateZ(90deg);
    }

    .bid_container_0 {
        position: absolute;
        bottom: 110px;
        left: 50px;

        padding: 10px 10px;
        border-radius: 5px 5px;
        font-weight: bold;
        font-size: 20px;
        color: rgb(67, 67, 67);
        background-color: greenyellow;
    }

    .bid_container {
        padding: 10px 10px;
        border-radius: 5px 5px;
        font-weight: bold;
        font-size: 20px;
        color: rgb(67, 67, 67);
        background-color: greenyellow;
        margin-left: 10px;
    }

    .locker {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.336);
        z-index: 100;

    }

    .player1_wins {
        transition: all 1s;
        transform: translateX(2000px)
    }

    .player2_wins {
        transition: all 1s;
        transform: translateY(-2000px)
    }

    .player3_wins {
        transition: all 1s;
        transform: translateX(-2000px)
    }

    .player0_wins {
        transition: all 1s;
        transform: translateY(2000px)
    }
</style>
{% endblock %}

{% block content %}
<div id="callbreak-game-main">

    <div class="playing_cards-container" id="playing_cards-container">
        <div class="cardContainer" id="playing_cards-container_wrapper">
        </div>
    </div>
</div>
<div class="callbreakHome" id="callbreak-home">
    <div class="gameCard">
        <div class="gameCard_imageOverlay" style="background-image: url('{% static game.image_url %}')"></div>
        <div class="gameCard-content">
            <h5 class="gameName">{{ game.name }}</h5>
            <p class="gameDescription">{{ game.description }}</p>
        </div>
        <div class="gameCard_play-btn">
            <div class="btn btn-primary btn-block" id="run-game-btn">Run Game</div>
        </div>
    </div>

    <div class="playerSection">
        <div class="section">
            <h2>Invitation Link</h2>
            <div id="user_name_holder" style="display: none;">{{ user_name }}</div>
            <div class="invitation-link">
                <input type="text" id="invitation-link-input" value="{{room_number}}" readonly>
                <div id="copy-room-btn" class="copy-room-btn">Copy Room</div>
            </div>
        </div>


        <div id="create-link-section">
            <div class="section">
                <h2>Search Friend</h2>
                <div class="input-group">
                    <input type="text" id="searchInput" placeholder="Enter username">
                </div>
                <div id="searchResults"></div>
            </div>
        </div>

        <div class="section">
            <h2>Joined Players</h2>
            <div id="joined-players">

            </div>
        </div>
    </div>

</div>
{% endblock %}


{% block scripts %}



<script>
    distributedCards = []
    channel_name = ""
    bidding_count = 0;
    players_info = []
    players_order_list = []
    thrownCards = []
    first_time = true;
    win_count = 0;

    $(document).ready(function () {
        $("#callbreak-game-main").hide();
        $("#callbreak-home").show();
        var minChars = 2; // Minimum characters to trigger search
        var lastSearchQuery = ""; // Stores the last complete search query
        var timeoutId = null;

        // Event listener for the "Invite" button
        $('#searchResults').on('click', '.sendInvitationButton', function () {
            var receiverName = $(this).siblings('.player-info').find('p').text().trim();
            var roomNumber = '{{ room_number }}'; // Replace with the actual room number

            // Send AJAX request to send the invitation (changed to POST)


            url = '/games/callbreak/send-invitation/' + roomNumber + '/' + receiverName;
            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}' // Include CSRF token
                },
                success: function (data) {
                    // Handle success response if needed
                    console.log('Invitation sent successfully.');
                },
                error: function (xhr, status, error) {
                    // Handle error response if needed
                    console.error('Error sending invitation:', error);
                }
            });
        });

        // Handle keyup events for search input
        $('#searchInput').on('keyup', function () {
            var query = $(this).val().trim();

            // Clear results if query is less than minimum characters
            if (query.length < minChars) {
                clearTimeout(timeoutId);
                $('#searchResults').html('');
                return;
            }

            // Cancel pending search requests
            clearTimeout(timeoutId);

            // Delay search for smoother user experience (optional)
            timeoutId = setTimeout(function () {
                if (query !== lastSearchQuery) {
                    lastSearchQuery = query;

                    // Send AJAX request for searching users
                    $.ajax({
                        type: 'GET',
                        url: '/search_users/',
                        data: {
                            search_query: query
                        },
                        success: function (data) {
                            var users = data.users;
                            var resultHTML = '';

                            if (users.length > 0) {
                                resultHTML = '<ul>';
                                $.each(users, function (index, user) {
                                    resultHTML += '<li>';
                                    resultHTML += '<div class="player">';
                                    if (user.username == "No matching result") {
                                        resultHTML += '<div class="notFound">' + user.username + '</div>'
                                    } else {
                                        if (user.profile_picture == "") {
                                            resultHTML += '<img src="{% static "/images/defaultProfilePicture.png"  %}" alt="Profile Picture">';
                                        } else {
                                            resultHTML += '<img src="' + user.profile_picture + '" alt="Profile Picture">';
                                        }
                                        resultHTML += "<a class='sendInvitationButton'><i class='fa-solid fa-user-plus'></i> Invite</a>"
                                        resultHTML += '<div class="player-info">';
                                        resultHTML += '<p>' + user.username + '</p>';
                                        resultHTML += '<div class="status-ribbon">';
                                        if (user.is_online) {
                                            resultHTML += '<span class="online"></span>';
                                        } else {
                                            resultHTML += '<span class="offline"></span>';
                                        }
                                        resultHTML += '</div>'; // Close status-ribbon
                                        resultHTML += '</div>'; // Close player-info
                                    }
                                    resultHTML += '</div>'; // Close player
                                    resultHTML += '</li>';
                                });
                                resultHTML += '</ul>';
                            } else {
                                resultHTML = '<p>No results found.</p>';
                            }

                            $('#searchResults').html(resultHTML);
                        }
                    });
                }
            }, 250); // Adjust delay as needed (e.g., 300ms)
        });
    });



    $(document).ready(function () {
        $('#copy-room-btn').click(function (event) {
            event.preventDefault();
            var linkInput = document.getElementById('invitation-link-input');
            linkInput.select();
            document.execCommand('copy');
        });
    });


    var room_number = $('#invitation-link-input').val();
    var user_name = $('#user_name_holder').text();
    if (!room_number) {
        console.error('Room number not found');
    }

    // Construct WebSocket URL
    var url = `ws://localhost:8000/ws/join-room/${encodeURIComponent(room_number)}/${encodeURIComponent(user_name)}/`;

    // Create WebSocket connection
    var socket = new WebSocket(url);

    // Connection opened
    socket.addEventListener('open', function (event) {
        console.log('WebSocket connection established.');
    });

    // Message received
    socket.addEventListener('message', function (event) {
        // Parse the received JSON data
        var data = JSON.parse(event.data);

        // Handle different types of messages
        if (data.connected_users || data.players_update) {
            // Handle player data updates
            var updatedUsers = data.connected_users || data.players_update;

            updatePlayerList(updatedUsers);
            if (onlinePlayerCount(updatedUsers) == 4) {
                $('#run-game-btn').show();
            } else {
                $('#run-game-btn').hide();
            }
        } else if (data.redirect && data.redirect == 'initiateGame') {
            // Show game UI and hide home UI
            $("#callbreak-game-main").show();
            $("#callbreak-home").hide();

            // Request card distribution
            requestForCardsAction();

            askForBidding();
        } else if (data.distributed_cards_to_client) {
            // Handle distributed cards
            distributedCards = data.distributed_cards_to_client;
            players_info = data.players_info;
            // showCards(distributedCards);
            displayCards(sortHandBySuit(distributedCards), window.innerWidth);
            showPlayerInGame(players_info)
            sendOrderListToServer(players_order_list)
            if (first_time) {
                makeMeActive(players_order_list[0])
            }
        } else if (data.channel_name) {
            channel_name = data.channel_name
            console.log(channel_name)
        } else if (data.action === 'card_thrown') {

            var cardInfo = data.card;
            userInfo = data.user;
            thrownCardInfo = { "card": cardInfo, "user": userInfo }
            thrownCards.push(thrownCardInfo);
            showThrownCard(userInfo, cardInfo);

            if (thrownCards.length == 4) {
                sendThrownCardsToServer(thrownCards);
            }


        } else if (data.action == 'bid_count') {
            var bid_amount = data.bid_count;
            var bidding_user = data.user_info;
            showBidCount(bid_amount, bidding_user)

        } else if (data.action == 'active_player') {
            if (data.active_player.channel_name == channel_name) {
                unlock();
            }
            else {
                lock();
            }
        } else if (data.action == 'winner_player') {
            first_time = false
            let winner_player
            let win_index;
            for (let i = 0; i < players_order_list.length; i++) {
                if (players_order_list[i].channel_name == data.winner_player) {
                    win_index = i
                    winner_player = players_order_list[i]
                    break;
                }
            }
            if (win_index == 0) {
                win_count += 1;
                updateWinCount(win_count);
            }
            migrateThrownCardsToWinner(data.winner_player)
            makeMeActive(winner_player)

        } else if (data.action == 'reset_thrownCards') {

            thrownCards = []
        } else if (data.action == "update_win_count") {
            player_channel = data.player;
            player_win_count = data.win_count;
            updateWinCount_view(player_channel, player_win_count);
        }
    });

    function send_final_scores(bid_count, win_count) {
        sendMessage({
            action: "send_final_scores",
            bid_count: bid_count,
            win_count: win_count
        })
    }



    function updateWinCount_view(player_channel, player_win_count) {
        index = 0;
        for (let i = 0; i < players_order_list.length; i++) {
            if (players_order_list[i].channel_name
                == player_channel) {
                index = i;
                break;
            }
        }

        if (index == 0) {
            container = document.getElementById('bid_container_0');
            container.innerHTML = "Bid: " + player_win_count + " / " + bidding_count;
        }
        else {
            myid = `player${index}_bid`
            container = document.getElementById(myid)
            container.innerHTML = "Bid: " + player_win_count + " / " + bidding_count;
            console.log(container);

        }

    }



    function updateWinCount(win_count) {
        sendMessage({ action: "update_win_count", win_count: win_count })
    }

    function migrateThrownCardsToWinner(winner_player) {
        index = 0;
        for (let i = 0; i < players_order_list.length; i++) {
            if (players_order_list[i].channel_name == winner_player) {
                index = i;
                break;
            }
        }

        cards = document.querySelectorAll('img[class^="thrownCard_player"]');

        setTimeout(() => {
            cards.forEach((card) => {
                card.classList.add(`player${index}_wins`);
                // card.classList.remove('thrownCard_player');
            });
        }, 500);

    }

    function sendThrownCardsToServer(thrownCards) {
        sendMessage({ action: "send_cards_for_evaluation", all_thrown_cards: thrownCards })
    }

    function lock() {
        var cardsHolder = document.getElementById('playing_cards-container_wrapper');
        // Check if already locked
        if (!cardsHolder.querySelector('.locker')) {
            var locker = document.createElement('div');
            locker.classList.add('locker');
            cardsHolder.appendChild(locker);
            console.log('locked');
        } else {
            console.log('Already locked');
        }
    }

    function unlock(player) {
        var cardsHolder = document.getElementById('playing_cards-container_wrapper');
        var locker = cardsHolder.querySelector('.locker');
        if (locker) {
            cardsHolder.removeChild(locker);
        } else {
            console.log("Already unlocked");
        }
    }

    function makeMeActive(player) {
        sendMessage({ action: "make_me_active", player: player })
    }
    function sendOrderListToServer(list) {
        sendMessage({ action: "players_order_list", order_list: list })
    }

    function showThrownCard(userInfo, card) {
        const img = document.createElement("img");
        var imageName = card.rank + '_of_' + card.suit + '.png';
        var imgSrc = '/static/cards/' + encodeURIComponent(imageName);
        img.src = imgSrc
        img.alt = `${card.rank} of ${card.suit}`;
        position = 4;
        for (let index = 1; index < players_order_list.length; index++) {
            if (players_order_list[index].channel_name == userInfo) {
                position = index;
                break;
            }
        }
        console.log(position);
        img.classList.add(`thrownCard_player${position}`);
        document.body.appendChild(img);

    }

    function showBidCount(bid_amount, incoming_channel) {
        for (let i = 0; i < players_order_list.length; i++) {
            if (players_order_list[i].channel_name == incoming_channel) {
                if (i == 0) {
                    container = document.getElementById("playing_cards-container");
                    bidContainer = document.createElement('div');
                    bidContainer.id = "bid_container_0";
                    bidContainer.classList.add('bid_container_0');
                    bidContainer.innerHTML = "Bid: " + bid_amount;
                    container.appendChild(bidContainer);
                } else {
                    bidContainer = document.getElementById(`player${i}_bid`);
                    bidContainer.classList.add('bid_container')
                    bidContainer.innerHTML = "Bid: " + bid_amount;
                }
                break;
            }
        }


    }



    // Function to update player list
    function updatePlayerList(users) {
        var resultHTML = '';
        if (users.length > 0) {
            resultHTML = '<ul>';
            users.forEach(function (user) {
                resultHTML += '<li>';
                resultHTML += '<div class="player">';

                var profilePicture = user.profile_image ? user.profile_image : "{% static '/images/defaultProfilePicture.png' %}";


                resultHTML += '<img src="' + profilePicture + '" alt="Profile Picture">';
                resultHTML += '<div class="player-info">';
                resultHTML += '<p>' + user.username + '</p>';
                resultHTML += '<div class="status-ribbon">';
                if (user.is_online) {
                    resultHTML += '<span class="online"></span>';
                } else {
                    resultHTML += '<span class="offline"></span>';
                }
                resultHTML += '</div>'; // Close status-ribbon
                resultHTML += '</div>'; // Close player-info
                resultHTML += '</div>'; // Close player
                resultHTML += '</li>';
            });
            resultHTML += '</ul>';
        } else {
            resultHTML = '<p>No results found.</p>';
        }

        $("#joined-players").html(resultHTML);
    }

    // Connection closed
    socket.addEventListener('close', function (event) {
        console.log('WebSocket connection closed.');
    });

    // Connection error
    socket.addEventListener('error', function (error) {
        console.error('WebSocket error:', error);
    });

    // Example: Send a message
    function sendMessage(message) {
        socket.send(JSON.stringify(message));
    }

    // Function to count online players
    function onlinePlayerCount(users) {
        return users.filter(function (user) {
            return user.is_online;
        }).length;
    }

    // Function to send change page action
    function sendChangePageAction() {
        sendMessage({ action: 'change_page' });
    }

    // Click event for the "Run Game" button
    $('#run-game-btn').click(function (event) {
        event.preventDefault();
        sendChangePageAction();
    });

    // Function to request distributed cards
    function requestForCardsAction() {
        sendMessage({ action: 'distribute_cards' });
    }


    function throwCard(cardinfo) {
        sendMessage({ action: "card_thrown", card: cardinfo })
    }

    function sendBidCountToServer(bid_count) {
        sendMessage({
            action: "bid_count",
            bid_count: bid_count

        })
    }


    function displayCards(hand, containerWidth) {
        const container = document.getElementById("playing_cards-container_wrapper");
        container.innerHTML = "";
        container.style.width = `${containerWidth}px`;

        hand.forEach((card, index) => {
            const img = document.createElement("img");
            var imageName = card.rank + '_of_' + card.suit + '.png';
            var imgSrc = '/static/cards/' + encodeURIComponent(imageName);
            img.src = imgSrc
            img.alt = `${card.rank} of ${card.suit}`;
            img.classList.add("card");

            // Store the index of the card as a data attribute
            img.dataset.index = index; // Use dataset.index for data-index attribute

            // Add event listener to handle click on the card
            img.addEventListener("click", () => handleClick(event, hand));

            container.appendChild(img);
        });
    }

    function handleClick(event, hand) {
        const cardIndex = event.currentTarget.dataset.index;
        throwCard(hand[cardIndex])
        makeMeActive(players_order_list[1])



        hand.splice(cardIndex, 1);
        displayCards(sortHandBySuit(hand), window.innerWidth);
    }
    // Function to add click and drag functionality to an image element

    function sortHandBySuit(hand) {
        const cardsBySuit = {};
        // Separate cards by suit
        hand.forEach((card) => {
            if (!cardsBySuit[card.suit]) {
                cardsBySuit[card.suit] = [];
            }
            cardsBySuit[card.suit].push(card);
        });
        // Sort cards within each suit
        for (const suit in cardsBySuit) {
            cardsBySuit[suit].sort((a, b) => a.value - b.value);
        }
        // Combine sorted cards suit-wise
        const sortedHand = [];
        for (const suit in cardsBySuit) {
            sortedHand.push(...cardsBySuit[suit]);
        }

        return sortedHand;
    }


    function askForBidding() {
        // Create custom alert box
        var customAlert = document.createElement("div");
        customAlert.id = "customAlert";
        customAlert.innerHTML = `<div id="custom-alert-content">
            <h2>Enter Your Bid (Hint: 1 to 13) </h2>
            <input type="number" id="numberInput" min="1" max="13">
            <button id="bid_submit_btn" onclick="closeCustomAlert()">Submit</button></div>`;
        // Append custom alert box to body
        document.body.appendChild(customAlert);
    }
    function closeCustomAlert() {
        var number = document.getElementById("numberInput").value;
        if (number !== "") {
            console.log("You entered: " + number);
            if (!(number > 13 || number <= 0)) {
                var customAlert = document.getElementById("customAlert");
                customAlert.parentNode.removeChild(customAlert);
                bidding_count = number;
                sendBidCountToServer(number);
            } else {
                alert("Please enter a valid number between 1 and 13");
            }

        }
    }



    function showPlayerInGame(players_) {
        players_order_list = giveCycle(players_, channel_name);

        playercontainer = document.createElement('div');
        playercontainer.id = "playersContainer_gamePlay"
        resultHTML = "";

        for (let i = 1; i < players_order_list.length; i++) {
            user = players_order_list[i];
            resultHTML += `<div class="player" id="player${i}">`;

            var profilePicture = user.profile_image ? user.profile_image : "{% static '/images/defaultProfilePicture.png' %}";


            resultHTML += '<img src="' + profilePicture + '" alt="Profile Picture">';
            resultHTML += '<div class="player-info">';
            resultHTML += '<p>' + user.username + '</p>';
            resultHTML += `<div id="player${i}_bid" class="player_bid">`;
            resultHTML += '</div>'; // Close status-ribbon
            resultHTML += '</div>'; // Close player-info
            resultHTML += '</div>'; // Close player

        }

        playercontainer.innerHTML = resultHTML;
        document.getElementById('callbreak-game-main').append(playercontainer);

    }


    function giveCycle(players_info, channel_name) {
        let index = 0;
        for (i = 0; i < players_info.length; i++) {
            if (players_info[i].channel_name == channel_name) {
                index = i;
                break;
            }
        }
        players_info = players_info.slice(index).concat(players_info.slice(0, index));
        return players_info
    }



</script>

{% endblock %}