
<style>
.footer {
  width: 100%;
  background-color: #29272b; 
  color: #fff; 
  padding: 1rem 0; 
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif; 
}


.footer_logo {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.logo-base {
  display: flex;
  align-items: center;
}

.logo-base i {
  color: #fff;
  font-size: 2.5rem; 
  margin-right: 0.5rem;
}

.logo-base .games {
  font-size: 1.8rem; 
  font-weight: bold;
  color: #fff;
  text-transform: uppercase; 
}


.about_system {
  margin-top: 1rem;
  text-align: center;
  line-height: 1.5; 
  color: #ddd; 
}


.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0; 
  width: 100%;
}

.join_withUs {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #ddd; 
}
.social_media {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0.5rem 0; 
}

.social_media li {
  margin: 0 1rem;
}

.social_media li a {
  color: #ddd; 
  font-size: 1.8rem; 
  transition: all 0.3s;
}

.social_media li a:hover {
  color: #fff;
}

.copyright {
  margin-top: 1rem;
  text-align: center;
  color: #ddd; 
}

</style>

<div class="footer">
    <div class="footer_logo">
        <div class="logo-base">
            <i class="fas fa-gamepad"></i>
            <span class="games">The Rematch</span>
        </div>
        <div class="about_system">
            The Rematch is a platform for multiplayer games where you can challenge your friends and have fun. Thank you for visiting us!
        </div>
    </div>
    <div class="details">
        <div class="join_withUs">Stay Connected With Us:</div>
        <ul class="social_media">
            <li><a href="/" class="fab fa-linkedin"></a></li>
            <li><a href="/" class="fab fa-twitter"></a></li>
            <li><a href="/" class="fab fa-instagram"></a></li>
            <li><a href="/" class="far fa-envelope"></a></li>
        </ul>
    </div>
    <div class="copyright">
        Copyright © The Rematch 2024. All Rights Reserved!
    </div>
</div>
